@{
message_objc_name = 'ROS_{}_{}_{}'.format(package_name, subfolder, type_name)
}@
#import <Foundation/Foundation.h>

#import "ROS_@(package_name)/@(subfolder)/@(type_name)_Request.h"
#import "ROS_@(package_name)/@(subfolder)/@(type_name)_Response.h"

@@interface @(message_objc_name) : NSObject

+ (intptr_t)serviceTypesupportHandle;

+ (Class)requestType;
+ (Class)responseType;

@@end
